---
featured: true
title: Campaign Trails
description: Each election cycle, candidates campaign to various states to try and appeal to voters from across the country. Does that actually matter?

authors: [Nikhil Chinchalkar, Ella Sanchez, Natalie Miller, Shashank Kalyanaraman, Vivian Guo]
date: November 4, 2024
---

<script>
  window.location.replace('https://nikhilc52.github.io/campaign_trails_cdj/website/')
</script>

